@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Estilos customizados da barra de rolagem */

  /* Para Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--border) var(--sidebar);
  }

  /* Para browsers baseados em WebKit (Chrome, Safari, Edge) */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background-color: var(--sidebar);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--border);
    border-radius: 10px;
    border: 2px solid var(--sidebar);
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--accent);
  }
}

@layer utilities {
  .text-with-shadow {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
  }

  .text-shadow-none {
    text-shadow: none;
  }

  /* Masonry Grid Styles */
  @media (min-width: 768px) {
    .masonry-grid {
      column-count: 2;
    }
  }

  @media (min-width: 1280px) {
    .masonry-grid {
      column-count: 3;
    }
  }

  .masonry-item {
    break-inside: avoid-column;
    page-break-inside: avoid;
  }
}